<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Recipe Journal</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <div class="welcome-body">
    <div class="welcome-header">
      <div class="welcome-subheader">
      
      <h1>Welcome to culinary adventures!</h1>
      <p>A place for favorite flavors, happy accidents, and secret ingredients.</p>
      </div>
    </div>
  </div>
  <div class="welcome-section">
    <div class="wlc-image">
      <img src="/Img/wlc.jpg" alt="green journal" width="400"/>
    </div>
    <div class="auth-links">
      <a href="/auth/sign-up">Sign up</a>
      <a href="/auth/sign-in">Sign in</a>
    </div>
  </div>
</body>
</html>
